Assignment03/PatientSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="Patients">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Patient" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:int"/>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="Age" type="xs:int"/>
                            <xs:element name="Gender" type="xs:string"/>
                            <xs:element name="MigraineHistory" type="xs:boolean"/>
                            <xs:element name="Symptoms" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Symptom" type="xs:string" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
